@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.head {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 8px 24px black;
  background: rgb(37, 30, 30);
  position: fixed;
  width: 100%;
}

.head img {
  height: 60px;
  width: auto;
  cursor: pointer;
  margin-left: 40px;
  transition: all 0.3s;
}

.head img:hover {
  transform: scale(1.1);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.navbar {
  display: flex;
}

.navbar i {
  font-size: 36px;
  display: none;
}

#menu-toggle {
  display: none;
}

.caja {
  text-decoration: none;
  color: black;
}

@media (max-width: 576px) {
  .navbar ul {
    background: rgb(131, 82, 82);
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0%;
    right: 0%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: none;
    gap: 100px;
  }

  .navbar i {
    display: block;
  }
  #menu-toggle:checked ~ .nav-links {
    display: block;
  }
}
